<div>
  <div class="w-full flex justify-between items-center bg-[#FF6E00] h-[45px] text-[12px] text-[#fff] p-[10px]">
    <div>
      <span
        ><span class="font-bold">-5% for all order</span> in this week
        <span class="font-bold underline">Shop Now</span>
        <p class="mt-1"><span class="font-bold">Free delivery</span> for all orders over $200</p>
      </span>
    </div>

    <div>
      <img src="{{ 'arrow.png' | asset_url }}">
    </div>
  </div>
</div>
