<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mini test</title>

	{{ 'application.css' | asset_url | stylesheet_tag }}
	
	{{ content_for_header }}
	
</head>
<body>
	<div class="text-[24px]">ádsaddsa</div>
	<main>
		{{ content_for_layout }}
	  </main>
</body>
</html>