<div>
  {% render 'topbar' %}

  <div class="h-[50px] flex justify-between p-[16px] items-center">
    <div><img src="{{ 'logo.png' | asset_url }}" class="block"></div>
    <div>
      <img src="{{ 'search.png' | asset_url }}">
    </div>
  </div>
</div>
