{% assign id_section = section.id %}

<!-- sections/slideshow.liquid -->
<div class="slideshow {{ id_section }}">
  {% for block in section.blocks %}
    <div class="slide {% if section.settings.option_for_slider == 'scale_equal' %} relative {% endif %}">
      {% if block.settings.image != blank %}
        <div class="{% if section.settings.option_for_slider == 'scale_equal' %} relative pt-[100%] {% endif %}">
          <img
            src="{{ block.settings.image | img_url: 'large' }}"
            alt="{{ block.settings.alt_text | default: 'Default image' }}"
            width="100%"
            height="100%"
            class="{% if section.settings.option_for_slider == 'scale_equal' %} absolute top-0 left-0 object-cover w-full h-full {% endif %}"
          >
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>

<script>
  // Khởi tạo slider khi trang đã sẵn sàng
  document.addEventListener('DOMContentLoaded', function () {
  var slider = tns({
      container: '.{{ id_section }}',
      items: 1,
      slideBy: 'page',
      autoplay: !!'{% if section.settings.auto_play == 'auto_play_on' %} 1 {% else %} 0 {% endif %}',
  	  autoplayTimeout: 1000,
      autoplayButtonOutput: false,
      controls: false,
      nav: false,
      gutter: 10,
      loop: false,
    });

    // // Kiểm tra nếu đang trong Theme Editor và cập nhật khi có thay đổi
    // if (Shopify.designMode) {
    //   document.addEventListener('shopify:section:load', initSlider);
    //   document.addEventListener('shopify:section:unload', initSlider);
    //   document.addEventListener('shopify:section:select', initSlider);
    //   document.addEventListener('shopify:section:deselect', initSlider);
    //   document.addEventListener('shopify:block:select', initSlider);
    //   document.addEventListener('shopify:block:deselect', initSlider);
    // }
  });
</script>

{% schema %}
{
  "name": "Blocks",
  "settings": [
    {
      "type": "radio",
      "id": "block_or_slider",
      "label": "Choose block or slider",
      "options": [
        {
          "value": "slider",
          "label": "slider"
        },
        {
          "value": "block",
          "label": "block"
        }
      ]
    },
    {
      "type": "radio",
      "id": "option_for_slider",
      "label": "Option slide with ratio for slideshow",
      "options": [
        {
          "value": "scale_with_ratio",
          "label": "scale with ratio"
        },
        {
          "value": "scale_equal",
          "label": "scale equal"
        }
      ],
      "default": "scale_equal"
    },
    {
      "type": "radio",
      "id": "auto_play",
      "label": "Option slide with type autoplay",
      "options": [
        {
          "value": "auto_play_on",
          "label": "auto play active"
        },
        {
          "value": "auto_play_off",
          "label": "auto play disable"
        }
      ],
      "default": "auto_play_on"
    }
  ],
  "blocks": [
    {
      "type": "image_slide",
      "name": "Image Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Slide Image"
        },
        {
          "type": "text",
          "id": "alt_text",
          "label": "Alt Text",
          "default": "Slide Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "category": "Image"
    }
  ]
}
{% endschema %}
